body, html{ 
        margin: 0px; padding: 0px; 
    		width: 100%;
    		height: 100%;
    		background: white;
           /* overflow: auto;*/
           font-family: arial;
    	}

        body{
           color: white;
        
        }

        #preload{
             background: url('../imgs/loading.gif') no-repeat 0 0; 
             position: absolute;
             width: 180px;
             height: 65px;
             left:50%;
             margin-left: -90px;
             top: 40%
        }

        #fan, #nofan{
             background: url('fan.jpg') no-repeat 0 0; 
             position: absolute;
             width: 800px;
             height: 800px;
        }

        #nofan{
             background: url('nofan.jpg') no-repeat 0 0; 
        }

a:link {color:#fff;}      /* unvisited link */
a:visited {color:#fff;}  /* visited link */
a:hover {color:#622f92;}  /* mouse over link */
a:active {color:#fff;}  /* selected link */

p{margin: 0px; padding: 0px; }
